* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  //primary colors
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  //neutral colors
  --dark-greyish-red: hsl(0, 6%, 24%);
  //gradients
  --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background-image: var(--gradient1);
}

.container {
  display: grid;
  // grid-template-columns: minmax(375px, 375px);
  grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
  min-height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.header {
  max-width: 375px;
  // margin: 0 auto;
}

.logo {
  box-sizing: content-box;
  display: block;
  max-width: 101px;
  height: auto;
  padding: 32px;
}

.hero-section {
  text-align: center;

  &__image-mobile {
    display: inline-block;
    width: 100%;
    max-width: 375px;
    height: auto;
  }

  &__image-desktop {
    display: none;
    width: 100%;
    height: auto;
  }
}

.coming-soon-section {
  max-width: 375px;
  margin: 60px auto 0 auto;

  &__title {
    margin-bottom: 15px;
    text-align: center;
    word-spacing: 9999px;
    letter-spacing: 15px;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 600;
    color: var(--dark-greyish-red);
  }

  &__title-decoration {
    color: var(--desaturated-red);
    font-weight: 300;
  }

  &__welcome-text {
    color: var(--desaturated-red);
    font-size: 16px;
    padding: 0 15px;
    text-align: center;
    line-height: 25px;
  }

  &__notify-form {
    box-sizing: content-box;
    position: relative;
    max-width: 311px;
    margin: 60px auto 25px auto;
    padding: 0 15px;
    //   overflow: hidden;
  }

  &__notify-input {
    width: calc(100% - 2px);
    font-size: 15px;
    font-family: inherit;
    height: 48px;
    padding-left: 19px;
    padding-right: 70px;
    border-radius: 25px;
    border: 1px solid var(--desaturated-red);
    border-right-style: none;
    background-color: transparent;
    color: var(--desaturated-red);

    &::placeholder {
      color: var(--desaturated-red);
      font-size: 15px;
    }

    &:focus-visible {
      outline: 3px dotted var(--desaturated-red);
    }
  }

  &__notify-button {
    position: absolute;
    right: 17px;
    bottom: 0;
    min-height: 48px;
    width: 64px;
    border-radius: 30px;
    border: none;
    background-image: var(--gradient2);
    box-shadow: -1px 8px 15px hsla(0, 36%, 70%, 0.7);
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(
        135deg,
        hsl(0, 80%, 90%),
        hsl(0, 74%, 78%)
      );
    }
  }
}

.footer {
  padding: 10px;
  line-height: 15px;
}

@media screen and (min-width: 375px) and (max-width: 1000px) {
  .header {
    width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1001px) {
  body {
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: none;
  }

  .container {
    grid-template-columns: minmax(57.638%, 830px) minmax(42.361%, 610px);
    grid-template-rows: min-content min-content min-content;
    max-width: 1440px;
    max-height: 800px;
    justify-content: center;
    align-content: center;
    background-image: url(../images/bg-pattern-desktop.svg), var(--gradient1);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 57.638% 100%;
    min-height: unset;
  }

  .header {
    order: 1;
    grid-column: 1/2;
    max-width: 460px;
    // max-width: unset;
    margin: 0 auto;
    width: 100%;
  }

  .logo {
    max-width: 160px;
    padding-left: 0;
    // padding-left: 65px;
    padding-top: 65px;
  }

  .main-content {
    order: 2;
    grid-column: 1/2;
  }

  .coming-soon-section {
    max-width: 460px;
    margin-top: 15px;

    &__title {
      text-align: left;
      font-size: 55px;
      line-height: 65px;
    }

    &__welcome-text {
      padding: 0 15px 0 0;
      text-align: left;
      font-size: 16px;
      line-height: 30px;
    }

    &__notify-form {
      box-sizing: content-box;
      position: relative;
      max-width: 445px;
      margin: 60px 0 5px 0;
      padding: 0 15px 0 0;
    }

    &__notify-input {
      min-height: 56px;
      border-radius: 50px;
    }

    &__notify-button {
      min-height: 56px;
      width: 100px;
      border-radius: 50px;
    }
  }

  .footer {
    order: 3;
    grid-column: 1/2;
    text-align: left;
    width: 100%;
    margin: unset;
    padding: 0;
  }

  .hero-section {
    text-align: center;
    order: 4;
    grid-row: 1 / span 3;
    grid-column: 2/3;

    &__image-mobile {
      display: none;
    }

    &__image-desktop {
      display: block;
      width: 100%;
      height: auto;
      max-height: 100vh;
      min-height: 600px;
    }
  }
}
